@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-picker-input {
  padding-left: 20px;
}

.ant-picker .ant-picker-input span.ant-picker-suffix,
.ant-picker.ant-picker-range span.ant-picker-suffix {
  margin-left: 1px;
  margin-right: 10px;
  order: -1;
  font-size: 18px;
  color: #8e8e8e;
}

.recent-search-container {
  height: calc(100vh - 628px);
}

.ant-form-item{
  margin: 0px !important;
}
